<template>
  <div id="app">
    <router-view></router-view>
 </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.min.css';
export default {
    name: 'app'
}
</script>

<style lang="scss">
body {
    background-color: black;
    text-align: center;

    color: white;
    font-size: 40px;
    font-weight: bold;
}
</style>
